@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Akronim&display=swap');

:root{
  --primary-color: #FF601B;
  --secondary-color:#242038;
  --light-blue:#30C5FF;
  --light-color: #F5F9FC;
}

.primary-text{
  color: var(--primary-color);
}

.light-text{
  color: var(--light-color);
}

.light-blue-text{
  color: var(--light-blue);
}

.bg-secondary{
  background-color: var(--secondary-color);
  color: var(--light-color);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', 'Arial', sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

img{
  display: block;
  max-width: 100%;
}

.container{
  max-width: 100%;
  padding: 0 40px;
}

a{
  text-decoration: none;
}

header{
  position: fixed;
  width: 100%;
  z-index: 5;
  top: 0;
  height: 70px;
  padding: 20px 0;
  text-transform: uppercase;
  background-color: var(--primary-color);
}

.logo{
  display: inline-block;
}

.logo a{
  font-family: 'Akronim',Arial, Helvetica, sans-serif;
  color: var(--light-color);
  text-decoration: none;
  font-size: 24px;
}

.nav__links{
  position: fixed;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  padding: 80px 0;
  text-align: center;
  background: var(--primary-color);
  visibility: hidden; 
  opacity: 0;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}

.nav__links ul li{
  list-style: none;
  opacity: 0;
}

.nav__links a.btn{
  opacity: 0;
}

.nav__links ul li a{
  font-size: 16px;
  text-decoration: none;
  margin: 18px 0;
  color: rgba(245, 249, 252,0.7);
  display: block;
  line-height: 30px;
}

.nav__links ul li.active a{
  color: var(--light-color);
  transition: opacity ease-in 0.3s;;
}

.nav__active{
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.nav__active ul li, .nav__active a.btn{
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
  margin-left: 0;
  opacity: 1;
}

.burger {
  float: right;
}

.burger::after{
  content: '';
  clear: both;
  display: table;
}

.burger div {
  width: 20px;
  height: 2px;
  margin: 5px;
  background-color: var(--light-color);
}

.burger div:nth-child(2){
  width: 10px;
  transform: translateX(100%);
}

.toggle{
  position: fixed;
  right:40px;
  top: 20px;
}

.toggle .line-1 {
  transform: rotate(-45deg) translate(-5px, 5px);
  background-color:var(--light-color);
}

.toggle .line-2 {
  opacity: 0;
}

.toggle .line-3 {
  transform: rotate(45deg) translate(-5px, -5px);
  background-color:var(--light-color);
}

.s__home{
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.s__home .shadow-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: .4;
  background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.8) 100%);
  background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.8) 100%);
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.8) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000', GradientType=0);
}

.s__home .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: .5;
  background-color: #304659;
}

.home-content__main{
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-40%,-40%);
}

/* animate .home-content__main
 * ------------------------------------------------------------------- */
 html.s__preload .home-content__main {
  opacity: 0;
}

html.s__loaded .home-content__main {
  animation-duration: 2s;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

html.no-csstransitions .home-content__main {
  opacity: 1;
}

/* ------------------------------------------------------------------- 
 * ## home animations
 * ------------------------------------------------------------------- */


/* fade in */

@-webkit-keyframes fadeIn {
  from {
      opacity: 0;
      -webkit-transform: translate3d(-40%, 150%, 0);
      -ms-transform: translate3d(-40%, 150%, 0);
      transform: translate3d(-40%, 150%, 0);
  }
  to {
      opacity: 1;
      -webkit-transform: translate3d(-40%, -40%, 0);
      -ms-transform: translate3d(-40%, -40%, 0);
      transform: translate3d(-40%, -40%, 0);
  }
}

@keyframes fadeIn {
  from {
      opacity: 0;
      -webkit-transform: translate3d(-40%, 150%, 0);
      -ms-transform: translate3d(-40%, 150%, 0);
      transform: translate3d(-40%, 150%, 0);
  }
  to {
      opacity: 1;
      -webkit-transform: translate3d(-40%, -40%, 0);
      -ms-transform: translate3d(-40%, -40%, 0);
      transform: translate3d(-40%, -40%, 0);
  }
}


.home-content__main h2{
  text-transform: uppercase;
  font-weight: 400;
  font-size: 34px;
  margin-bottom: 24px;
}

.s__home .section__subtitle{
  font-size: 20px;
  line-height: 120%;
  margin-bottom: 24px;
  font-weight: 400;
}

.btn{
  font-size: 16px;
  padding: 8px 12px;
  border-radius: 5px;
  display: inline-block;
}

.btn__primary{
  background: var(--primary-color);
  color: var(--light-color);
}

.btn__donate{
  background: var(--light-blue);
  color: var(--light-color);
}

section{
  padding: 60px 0;
}

section .section__title{
  font-size: 26px;
  text-transform: uppercase;
  margin-bottom: 24px;
}

section .section__subtitle{
  font-size: 20px;
  line-height: 120%;
  margin-bottom: 24px;
  font-weight: 600;
}

section .section__desc{
  font-size: 18px;
  line-height: 120%;
  margin-bottom: 24px;
  text-align: justify;
}

.s__about__image{
  display: none;
}

.s__help {
  text-align: center;
}

.help__item, .event__item{
  padding: 14px 0;
}

.help__icon{
  color: var(--light-blue);
  display: inline-block;
  position: relative;
  background-color: rgba(245, 249, 252,0.3);
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.help__icon img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 36px;
}

.help__title{
  padding:8px;
  font-size: 22px;
}

.help__text .section__desc{
  text-align: center;
}

.s__events{
  text-align: center;
}

.event__img{
  margin: 0 auto 12px auto;
}

.event__title{
  padding: 8px 0;
}

.event__details{
  max-width: 480px;
  margin: 0 auto;
}

.event__details ul{
  padding-bottom: 10px;
}

.event__details ul li{
  list-style: none;
  text-align: left;
  padding-bottom: 6px;
}

.event__details svg{
  margin-right: 8px;
}

.event-location__svg{
  width:14px;
}

.event-date__svg{
  width: 18px;
}

.btn__readmore, .btn__submit{
  background: var(--light-blue);
  color: var(--light-color);
}

.s__events .btn{
  margin-bottom: 12px;
}

.s__cta{
  text-align: center;
}

.cta-text{
  text-transform: uppercase;
  margin-bottom: 24px;
}

.s__map{
  width: 80%;
  height: 400px;
  margin: 0 auto;
  margin-bottom: 24px;
}

.location__details{
  margin-bottom: 36px;
}

.location__details ul li{
  list-style: none;
  font-weight: 700;
  padding: 5px 0;
  margin-left: 40px;
}

.location__details ul svg{
  margin-bottom: -35px;
}

.location-details__svg, .location-details__phone, .location-details__email{
  width: 25px;
}

.location__details ul li span{
font-weight: 400;
}

input[type="text"],
input[type="email"],
textarea{
  -moz-appearance: none;
  -webkit-appearance: none;
  display: block;
  height: 32px;
  outline: none;
  border:1px solid #C4C4C4;
  font-size: 16px;
  font-family: 'Montserrat', 'Arial', sans-serif;
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  line-height: 120%;
  margin: 12px 0;
  padding: 8px 8px;
}

input[type="submit"]{
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  font-family: 'Montserrat', 'Arial', sans-serif;
}

textarea {
  min-height: 12rem;
}

.btn__submit{
  position: relative;
  left: 50%;
  margin-top: 12px ;
  transform: translateX(-50%);
}

footer{
  padding: 40px 0;
}

footer .container{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
}

.copyright__info{
  margin-bottom: 32px;
}

.social__icons ul li{
  list-style: none;
  padding-left: 12px;
  display: inline-block;
}

.facebook{
  width: 13px;
}

.twitter{
  width: 30px;
}

.instagram, .dribbble{
  width: 26px;
} 

.social__icons ul li a{
  display: inline-block;
}

.social__icons ul li:first-child{
  padding-left: 0;
}

@media only screen and (orientation: landscape){
  .nav__links{
    padding: 40px 0;
  } 

  .nav__links ul li a{
    line-height: 20px;
  }

  .nav__links a.btn{
    font-size: 16px;
    padding: 8px 12px;
  }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (orientation: portrait) {
  .container{
    max-width: 560px;
    margin: 0 auto;
  }
  
  .event__item, .event__title{
    margin-bottom: 8px;
  }

  .event__details ul{
    padding-bottom: 18px;
  }

  .event__details ul li{
    padding: 6px 0 ;
  }
  
  .btn{
    padding: 10px 14px;
  }

  input[type="text"],
  input[type="email"],
  textarea{
    height: 36px;
    font-size: 18px;
  }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (orientation: portrait)  {
  .container{
    max-width: 660px;
    margin: 0 auto;
  }

  .home-content__main h2{
    font-size: 42px;
  }

  .s__home .section__subtitle{
    font-size: 28px;
    margin-bottom: 48px;
  }

  .btn{
    font-size: 20px;
    padding: 16px 14px;
  }

  section{
    margin: 12px 0;
    padding: 72px 0;
  }

  section .section__title{
    margin-bottom: 30px;
    font-size: 32px;
  }

  section .section__subtitle{
    font-size: 24px;
  }

  .help__item{
    padding: 16px 0;
  }

  .help__title{
    font-size: 26px;
  }

  section .section__desc{
    font-size: 20px;
  }
  
  .event__title{
    font-size: 24px;
  }

  .event__details ul li, .location__details ul li{
    font-size: 20px;
  }

  .cta-text, .location__details{
    margin-bottom: 32px;
  }

  input[type="text"],
  input[type="email"],
  textarea{
    margin: 18px 0;
  }

  .copyright__info{
    font-size: 22px;
  }
  
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .container {
    max-width: 60em;
    margin: 0 auto;
  }

  .body{
    text-align: left;
  }

  .burger{
    display: none;
  }

  header{
    background: transparent;
  }

  header.opaque{
    background: var(--light-color);
  }

  .opaque .logo a{
    color: var(--primary-color);
  }

  .opaque .nav__links ul li a{
    color: rgba(36, 32, 56,0.7);
  }

  .opaque .nav__links ul li.active a, .opaque .nav__links .btn__donate{
    color: rgba(36, 32, 56, 1);
  }

  header .container{
    display: flex;
    align-items: center;
  }
  
  .logo a{
    font-size: 30px;
  }

  .logo{
    flex: 1;
  }
  
  .nav__links{
    flex: 3;
    display: flex;
    justify-content: flex-end;
    padding: 0;
    align-items: center;
    position: static;
    visibility: visible;
    opacity: 1;
    background: transparent;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: visible;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    font-weight: 600;
  }

  .nav__links ul li{
    list-style: none;
    display: inline-block;
    margin-right: 40px;
    opacity: 1;
  }

  .nav__links ul li a{
    margin: 0;
    font-size: 14px;
  }

  .nav__links a.btn{
    opacity: 1;
    font-size: 14px;
  }

  section{
    padding: 100px 0;
  }

  .s__about__image{
    display: none;
  }

  .home-content__main{
    transform: translate(-35%,-50%);
  }

@-webkit-keyframes fadeIn {
  from {
      opacity: 0;
      -webkit-transform: translate3d(-35%, 150%, 0);
      -ms-transform: translate3d(-35%, 150%, 0);
      transform: translate3d(-35%, 150%, 0);
  }
  to {
      opacity: 1;
      -webkit-transform: translate3d(-35%, -50%, 0);
      -ms-transform: translate3d(-35%, -50%, 0);
      transform: translate3d(-35%, -50%, 0);
  }
}

@keyframes fadeIn {
  from {
      opacity: 0;
      -webkit-transform: translate3d(-35%, 150%, 0);
      -ms-transform: translate3d(-35%, 150%, 0);
      transform: translate3d(-35%, 150%, 0);
  }
  to {
      opacity: 1;
      -webkit-transform: translate3d(-35%, -50%, 0);
      -ms-transform: translate3d(-35%, -50%, 0);
      transform: translate3d(-35%, -50%, 0);
  }
}


  .home-content__main h2{
    font-size: 52px;
    width: 70%;
  }

  .s__home .section__subtitle{
    font-size: 24px;
    margin-bottom: 32px;
    width: 60%;
  }

  .btn{
    font-size: 20px;
    padding: 10px 16px;
  }
  
  .s__about .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 8%;
    align-items: center;
  }
  
  .s__about__image{
    display: inline-block;
  }

  .help__lists, .events__list{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
  }

  .help__item, .event__item{
    width: 30%;
  }

  section .section__title{
    margin-bottom: 30px;
    font-size: 32px;
  }

  .event__details ul li{
    margin-bottom: 12px;
  }

  .s__events .btn{
    margin: 0;
  }

  .event__item{
    text-align: left;
  }

  .s__cta .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .cta-text, .copyright__info{
    margin: 0;
  }

  .s__map{
    margin-bottom: 32px;
  }

  .contact-form__wrapper{
    display: flex;
    justify-content: space-between;
  }

  .form-details{
    width: 50%;
  }

  .btn__submit{
    left: 100%;
    transform: translateX(-100%);
  }

  footer .container{
    flex-direction: row;
  }

  .copyright__info{
    font-size: 18px;
  }

  .facebook{
    width: 10px;
  }
  
  .twitter{
    width: 27px;
  }
  
  .instagram, .dribbble{
    width: 21px;
  } 

  .social__icons ul li{
    padding-left: 22px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .container{
    max-width: 73.125em;
    padding: 0;
  }

  .location__details{
    flex: 1;
  }

  .form-details{
    flex: 2;
    display: flex;
    justify-content: space-between;
  }

  .form-details .contact-details{
    width: 47.5%;
  }

  .form-details .message{
    width: 47.5%;
  }
}